apiVersion: v1
kind: Service
metadata:
  name: paperless-web
  labels:
    {{- include "paperless.labels" . | nindent 4 }}
spec:
  selector:
    app: paperless
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8000
